<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<variable name="fileFormat"
			value="
            ${newline}date: ${date}
            ${newline}level: ${level}
            ${newline}logger: ${logger}
            ${newline}machinename: ${machinename}
            ${newline}message: ${message}
            ${newline}appdomain: ${appdomain}
            ${newline}assembly-version: ${assembly-version}
            ${newline}basedir: ${basedir}
            ${newline}callsite: ${callsite}
            ${newline}counter: ${counter}
            ${newline}nlogdir: ${nlogdir}
            ${newline}processid: ${processid}
            ${newline}processname: ${processname}
            ${newline}specialfolder: ${specialfolder}
            ${newline}stacktrace: ${stacktrace}
            ${newline}------------------------------------------------------------" />

	<targets>
		<target name="log_database" xsi:type="Database"  dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
					connectionString="${environment:DefaultConnectionString}">
			<commandText>
				INSERT INTO t_sys_log_info
				(title,message,log_level,ip,cost_time,url,properties,logger,created_by,access_data_id)
				VALUES
				(@Title,@Message,@LogLevel,@Ip,@Cost,@Url,@Properties,@Logger
				,@Createdby,@ClientId);
			</commandText>
			<parameter name="@Title" layout="${event-properties:item=Title}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@LogLevel" layout="${level}" />
			<parameter name="@Ip" layout="${event-properties:item=ServerIp}" />
			<parameter name="@Cost" layout="${event-properties:item=Cost}" />
			<parameter name="@Url" layout="${event-properties:item=Url}" />
			<parameter name="@Properties" layout="${event-properties:item=Properties}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Createdby" layout="${event-properties:item=Createdby}" />
			<parameter name="@ClientId" layout="${event-properties:item=ClientId}" />
		</target>
		<target name="log_file" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyy-MM}/${shortdate}.log" archiveAboveSize="10240"
					layout="${longdate}|${event-properties:item=LogType}|${argument:item=Ip}|${logger}| ${machinename} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
		<target name="log_console" xsi:type="Console" layout="${longdate}|${level}|${message}"/>

		<target name="LogtoDatabase" xsi:type="Database"  dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
					connectionString="${environment:DefaultConnectionString}">
			<commandText>
				INSERT INTO t_sys_log_info
				(title,message,log_level,ip,cost_time,url,properties,logger,created_by,access_data_id)
				VALUES
				(@Title,@Message,@LogLevel,@Ip,@Cost,@Url,@Properties,@Logger
				,@Createdby,@ClientId);
			</commandText>
			<parameter name="@Title" layout="${event-properties:Data:objectpath=Title}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@LogLevel" layout="${level}" />
			<parameter name="@Ip" layout="${event-properties:Data:objectpath=ServerIp}" />
			<parameter name="@Cost" layout="${event-properties:Data:objectpath=Cost}" />
			<parameter name="@Url" layout="${event-properties:Data:objectpath=Url}" />
			<parameter name="@Properties" layout="${event-properties:Data:objectpath=Properties}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Createdby" layout="${event-properties:Data:objectpath=Createdby}" />
			<parameter name="@ClientId" layout="${event-properties:Data:objectpath=ClientId}" />
		</target>
		<target xsi:type="File" name="LogtoFile" fileName="${basedir}/Logs/${date:format=yyyy-MM}/${shortdate}.log" archiveAboveSize="10485760"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="Console" name="LogtoConsole" layout="${time}>>${logger}|${message}"/>

	</targets>

	<rules>
		<logger name="*" maxlevel="Trace" writeTo="LogtoConsole" final="true" />
		<logger name="*" maxlevel="Debug" writeTo="LogtoConsole" final="true"/>
		<logger name="*" maxlevel="Info" writeTo="LogtoConsole,LogtoFile" final="true"/>
		<logger name="*" maxlevel="Error" writeTo="LogtoFile,LogtoDatabase" final="true"/>
	</rules>
</nlog>